<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh8888.mapper.EmpMapper">

    <select id="page" resultType="com.zh8888.pojo.Emp">
        select emp.*, dept.name deptName
        from emp
        left join dept on emp.dept_id = dept.id
        <where>
            <if test="name != null and name != '' ">
                emp.name like concat('%', #{name}, '%')
            </if>

            <if test="gender != null">
                and emp.gender = #{gender}
            </if>

            <if test="begin != null and end!=null">
                and emp.entry_date between #{begin} and #{end}
            </if>
        </where>
        order by emp.update_time desc
    </select>


    <insert id="insert" useGeneratedKeys = "true" keyProperty = "id">
        insert into emp (username, name, gender, phone, job, salary, image, entry_date, dept_id, create_time, update_time)
        values (#{username}, #{name}, #{gender}, #{phone}, #{job}, #{salary}, #{image}, #{entryDate}, #{deptId}, #{createTime}, #{updateTime})
    </insert>
    <insert id="insertExpr">
        insert into emp_expr (emp_id, begin, end, company, job) VALUES
        <foreach collection="exprList" item="expr" separator=",">
            (#{expr.empId}, #{expr.begin}, #{expr.end}, #{expr.company}, #{expr.job})
        </foreach>
    </insert>


    <delete id="deleteEmpById">
        delete from emp where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>

    </delete>
    <delete id="deleteExprById">
        delete from emp_expr where emp_id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>


    <select id="getEmpById" resultType="com.zh8888.pojo.Emp">
        select id, username, password, name, gender, phone, job, salary, image, entry_date, dept_id, create_time, update_time from emp where id = #{id}
    </select>
    <select id="getExprListByEmpId" resultType="com.zh8888.pojo.EmpExpr">
        select id, emp_id, begin, end, company, job from emp_expr where emp_id = #{id}
    </select>

    <update id="updateEmp">
        update emp
        <set>
            <if test="username != null and username != ''">
                username = #{username},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="gender != null and gender != ''">
                gender = #{gender},
            </if>
            <if test="phone != null and phone != ''">
                phone = #{phone},
            </if>
            <if test="job != null and job != ''">
                job = #{job},
            </if>
            <if test="salary != null">
                salary = #{salary},
            </if>
            <if test="image != null and image != ''">
                image = #{image},
            </if>
            <if test="entryDate != null">
                entry_date = #{entryDate},
            </if>
            <if test="deptId != null">
                dept_id = #{deptId},
            </if>
            update_time = #{updateTime}
        </set>
        where id = #{id}
    </update>


    <select id="getEmpGenderData">
        select if(gender = '1', '男性员工', '女性员工') name,
               count(*) value
        from emp
        group by gender
        order by value desc
    </select>
    <select id="getEmpJobData">
        select (case
                when job = '1' then '班主任'
                when job = '2' then '讲师'
                when job = '3' then '学工主管'
                when job = '4' then '教研主管'
                when job = '5' then '咨询师'
                else '其他' end)  job,
                count(*)  data
        from emp
        group by job
        order by data
    </select>
</mapper>