<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zh8888.mapper.StudentMapper">
    <insert id="insert">
        insert into student(name, no, gender, phone, id_card, is_college, address, degree, graduation_date, clazz_id,
                            create_time, update_time)
        VALUES (#{name}, #{no}, #{gender}, #{phone}, #{idCard}, #{isCollege}, #{address}, #{degree}, #{graduationDate}, #{clazzId}, #{createTime}, #{updateTime})
    </insert>
    <update id="updateStudent">
        update student
        <set>
            <if test="name != null and name != '' ">
                name = #{name},
            </if>
            <if test="no != null">
                no = #{no},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="degree != null">
                degree = #{degree},
            </if>
            <if test="idCard != null">
                id_card = #{idCard},
            </if>
            <if test="isCollege != null">
                is_college = #{isCollege},
            </if>
            <if test="address != null">
                address = #{address},
            </if>
            <if test="graduationDate != null">
                graduation_date = #{graduationDate},
            </if>
            <if test="violationCount != null">
                violation_count = #{violationCount},
            </if>
            <if test="violationScore != null">
                violation_score = #{violationScore},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
            <if test="clazzId != null">
                clazz_id = #{clazzId},
            </if>

        </set>
    </update>

    <delete id="deleteStudentsById">
        delete from student where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>


    <select id="page" resultType="com.zh8888.pojo.Student">
        select student.*, clazz.name clazzName
        from student
        left join clazz on student.clazz_id = clazz.id
        <where>
        <if test="name != null and name != '' ">
            student.name like concat('%', #{name}, '%')
        </if>
        <if test="degree != null">
            and student.degree = #{degree}
        </if>
        <if test="clazzId != null">
            and student.clazz_id = #{clazzId}
        </if>
        </where>
    </select>
    <select id="getStudentById" resultType="com.zh8888.pojo.Student">
        select student.*, clazz.name clazzName
        from student
        left join clazz on student.clazz_id = clazz.id
        where student.id = #{id}
    </select>
</mapper>